body{
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    height:100vw;
    width: 100vw;
}

p{
    background-color: white;
    display: inline-flex;
    font-size: 50px;
    height: 100px;
    width: 200px;
    color: red;
}

*, *::before, *::after{
    box-sizing:border-box;
}

.container{
    width:500px;
    max-width: 80%;
    background-color:lightgoldenrodyellow;
    border-radius: 10px;
    padding: 10px;
 
}

#timer{
    text-align:center;
}

.answers{
    display:grid;
    gap: 10px;
    margin-bottom:10px;
     
}

.btn{
    border: solid black;
}

.btn:hover{
    border-color: red;
}

.startButton,.nextbutton{
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

#startNext{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.visible{
visibility: visible;
}
.hidden{
visibility: hidden;
}